<div class = "row" id = "demoForm">
  <div class = "col-md-4 col-md-offset-8">
          <!--{{hCtrl.hqList}}-->
          <h1>Demo Request</h1>
          <form ng-submit="hCtrl.makeAHero()">
              <input class="form-control" ng-model="hCtrl.newHero.name" placeholder="Name">
              <input ng-repeat="power in hCtrl.newHero.powers track by $index" class="form-control" ng-model="hCtrl.newHero.powers[$index]"
              placeholder="Power">
              <input ng-repeat="weak in hCtrl.newHero.weaknesses track by $index" class="form-control" ng-model="hCtrl.newHero.weaknesses[$index]"
              placeholder="Weakness">
              <input class="form-control" type="checkbox" ng-model="hCtrl.newHero.masked">
              <input class="form-control" ng-model="hCtrl.newHero.origin"
              placeholder="Origin">
              <input type="submit">
              <div ng-click="hCtrl.pwExtra('powers')" class="btn btn-info"> Add Power </div>
              <div ng-click="hCtrl.pwExtra('weaknesses')" class="btn btn-info"> Add Weakness </div>
          </form>
      <div class="row">
          <div class="col-xs-12">
              <h1>Heroes List : </h1>
          </div>
          <div ng-repeat="hero in hCtrl.heroList" class="col-xs-12">
              {{ hero.name }}
          </div>
      </div>
  </div>
</div>
